body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 40px;
}

.developer-name {
    color: tomato;
}

.flex-container {
    display: flex;
    margin-bottom: 120px;
}

.half-width {
    width: 50%;
    padding-left: 40px;
    padding-right: 50px;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(Tomato, Salmon);
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.pick-me {
    color: rgb(133, 74, 156);
}

.mid-section {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 60px;

}

.quality {
    color: orange;
}

.experience-item {
    width: 40%;
    margin-left: 40px;
    padding-left: 40px;
    box-shadow: 10px 5px 40px rgb(131, 177, 196);
}

h2 {
    font-size: 30px;
}

.experience-section {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 60px;
}